* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1280px;
    margin: auto;
    /* display: flex; */
    /* text-align: center; */
}

.section_title {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 38px;
    margin-bottom: 20px;
}

.section_des {
    font-size: 16px;
    color: #0E0E0EB3;
    margin-right: 20px;
}

/* Navbar design */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(221, 219, 218);
    height: 30px;
    padding: 10px 15px;
    background-color: #f7f8f86b;
    border-radius: 5px;
}

.nav_btn {
    color: green;
    padding: 8px 30px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: white;
}

/* Banner section Design */
.hero {
    margin-top: 20px;
    background-color: #C6E4D6;
    /* height: 200px; */
    border-radius: 15px;
    display: flex;
    /* justify-content: space-between; */
    gap: 60px;
    align-items: center;
    padding: 60px 60px;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    margin: 8px 0 20px 0;
}

.bangladesh {
    font-size: 20px;
    color: #0E0E0E80;
}

.hero_btn {
    padding: 15px 30px;
    background-color: #006A50;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    border: 0;
}

/* pillars of bangladesh */
.pillar {
    padding: 24px;
    border: 1px solid #0E0E0E26;
    border-radius: 10px;
    box-shadow: 5px 2px 4px #0E0E0E26;
}

.card_text {
    color: #0E0E0ECC;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card_des {
    color: #0E0E0EB3;
    font-size: 16px;
}

.pillars_container {
    display: flex;
    gap: 24px;
    align-items: center;
}

/* vision of future */
.vision1 {
    padding: 32px;
    background-color: #5490F533;
    border-radius: 15px;
}

.vision2 {
    padding: 32px;
    background-color: #C6E4D6;
    border-radius: 15px;
}

.vision3 {
    padding: 32px;
    background-color: #F7EBCF;
    border-radius: 15px;
}

.vision_btn1 {
    padding: 10px 20px;
    background-color: #5490F5;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.vision_btn2 {
    padding: 10px 20px;
    background-color: #09A15C;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.vision_btn3 {
    padding: 10px 20px;
    background-color: #FFC239;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.vision_container {
    margin-top: 25px;
    display: flex;
    gap: 24px;
    align-items: center;
}

/* comment section */
.comment {
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 30px;
}

.quote_img {
    position: absolute;
    z-index: -1;
}

.name {
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0ECC;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* your opinion section */
.opinion_container {
    padding: 25px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    border: 1px solid #0E0E0E26;
}
.table_head {
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.th_text{
    font-size: 15px;
    font-weight: 600;
}
table, tr, td{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
}
table{
    width: 100%;
}
td{
    padding: 14px;
}
.table_btn{
    padding: 5px 10px;
    background-color: #C6E4D6; 
    border: 1px solid rgb(14, 14, 14);
    border-radius: 5px;
}
/* recent news section */
.news_container{
    display: flex;
    gap: 32px;
    align-items: center;
    padding: 20px;
    /* border: 1px solid gray; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(65, 65, 65, 0.411);
    margin-top: 30px;
}
.satelite{
    border-radius: 10px;
}
.news_title{
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0ECC;
    margin-bottom: 12px;
}
.date_time{
    display: flex;
    gap: 20px;
    color: #0E0E0EB3;
    margin-top: 12px;
}
.news_des{
    color: #0E0E0EB3;
    margin-top: 12px;
    margin-bottom: 25px;
}
/* donate today section */
.donate{
    text-align: center;
}
.donate_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 20px;
}
.donate_card{
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid rgba(151, 150, 150, 0.808);
}
.input{
    width: 70%;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(151, 150, 150, 0.808);
    margin-top: 10px;
    margin-bottom: 30px;
}
.newsletter{
    padding: 50px 100px;
    text-align: center;
    background-color: #C6E4D6;
    margin-top: 80px;
    border-radius: 20px;
}
.Subscribe{
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background-color: #006a50;
    color: white;
}