*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1280px;
    margin: auto;
    /* display: flex; */
    /* text-align: center; */
}
.section_title{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 38px;
}
.section_des{
    font-size: 16px;
    color: #0E0E0EB3;
    margin-right: 20px;
}
/* Navbar design */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(221, 219, 218);
    height: 30px;
    padding: 10px 15px;
    background-color: #f7f8f86b;
    border-radius: 5px;
}
.nav_btn{
    color: green;
    padding: 8px 30px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: white;
}
/* Banner section Design */
.hero{
    margin-top: 20px;
    background-color: #C6E4D6;
    /* height: 200px; */
    border-radius: 15px;
    display: flex;
    /* justify-content: space-between; */
    gap: 60px;
    align-items: center;
    padding: 60px 60px;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    margin: 8px 0 20px 0;
}
.bangladesh{
    font-size: 20px;
    color: #0E0E0E80;
}
.hero_btn{
    padding: 15px 30px;
    background-color: #006A50;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    border: 0;
}
/* pillars of bangladesh */
.pillar{
    padding: 24px;
    border: 1px solid #0E0E0E26;
    border-radius: 10px;
    box-shadow: 5px 2px 4px #0E0E0E26;
}
.card_text{
    color: #0E0E0ECC;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.card_des{
    color: #0E0E0EB3;
    font-size: 16px;
}
.pillars_container{
    display: flex;
    gap: 24px;
    align-items: center;
}
/* vision of future */
.vision1{
    padding: 32px;
    background-color: #5490F533;
    border-radius: 15px;
}
.vision2{
    padding: 32px;
    background-color: #C6E4D6;
    border-radius: 15px;
}
.vision3{
    padding: 32px;
    background-color: #F7EBCF;
    border-radius: 15px;
}
.vision_btn1{
    padding: 10px 20px;
    background-color: #5490F5;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}
.vision_btn2{
    padding: 10px 20px;
    background-color: #09A15C;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}
.vision_btn3{
    padding: 10px 20px;
    background-color: #FFC239;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}
.vision_container{
    margin-top: 25px;
    display: flex;
    gap: 24px;
    align-items: center;
    
}