*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1280px;
    margin: auto;
    /* display: flex; */
    /* text-align: center; */
}
/* Navbar design */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(221, 219, 218);
    height: 30px;
    padding: 10px 15px;
    background-color: #f7f8f86b;
    border-radius: 5px;
}
.nav_btn{
    color: green;
    padding: 8px 30px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: white;
}
/* Banner section Design */
.hero{
    margin-top: 20px;
    background-color: #C6E4D6;
    /* height: 200px; */
    border-radius: 15px;
    display: flex;
    /* justify-content: space-between; */
    gap: 60px;
    align-items: center;
    padding: 60px 60px;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    margin: 8px 0 20px 0;
}
.bangladesh{
    font-size: 20px;
    color: #0E0E0E80;
}
.hero_btn{
    padding: 15px 30px;
    background-color: #006A50;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    border: 0;
}